@page
@model AccountingRazor2021.Pages.DataSaldoAwal.DataSaldoAwalIndexModel
@{
    ViewData["Title"] = "DataSaldoAwalIndex";
}

<h1>Data Saldo Awal Index</h1>

<div class="hidden-print">
    <p></p>
    @*<a style="color:green;text-decoration:none;" href="javascript:window.print()">
            <span style="color:green;text-decoration:none;">
                <img height="12" src="https://ecs7.tokopedia.net/img/print.png" alt="Print" />&nbsp;Cetak
            </span>
            <span style="display:inline-block; width:25px ;"></span>
        </a>*@
    <input name="b_print" type="button" class="ipt" onClick="printdiv('div_print');" value=" Print ">
</div>
<p>
    <a asp-action="">Create New</a>
</p>
<div id="div_print">
    <table class="table">
        <thead>
            <tr>
               <th>
                    Kode Account
                </th>
                <th>
                    Account
                </th>
                @*<th>
                    NormalPos
                </th>*@
                <th>
                    Kelompok
                </th>
                <th>Depth</th>
                <th>Debit</th>
                <th>Kredit</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item)
            {
                <tr>
                  <td style="font-weight:bold">
                        @Html.DisplayFor(modelItem => item.KodeAccount)
                    </td>
                    @if (item.Depth * 20 + 3 == 23)
                    {
                        <td style="padding-left:23px;font-weight:bold">
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                    }
                    else if (item.Depth * 20 + 3 == 43)
                    {
                        <td style="padding-left:43px;font-weight:bold">
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                    }
                    else if (item.Depth * 20 + 3 == 63)
                    {
                        <td style="padding-left:63px;font-weight:bold">
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                    }
                    else if (item.Depth * 20 + 3 == 83)
                    {
                        <td style="padding-left:83px">
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                    }
                    else if (item.Depth * 20 + 3 == 3)
                    {
                        <td style="padding-left:3px;font-weight:bold">
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                    }
                    @*<td>
                        @if (item.NormalPos == 1)
                        {
                            <p> Debit</p>
                        }
                        else
                        {
                            <p>Kredit</p>
                        }
                    </td>*@
                    <td>
                        @if (item.Kelompok == "N")
                        {
                            <p>Neraca</p>
                        }
                        else
                        {
                            <p>
                                Laba/Rugi
                            </p>}

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Depth)
                    </td>
                    <td>
                        @if(item.Depth == 3)
                            {
                            <input type"number" />
                            }
                    </td>
                    <td>
                        @if (item.Depth == 3)
                        {
                            <input type"number" />
                        }
                    </td>

                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>


