@page
@model AccountingRazor2021.Pages.DataJournalsDetail.CreateDataJournalsDetailModel
@{
    ViewData["Title"] = "CreateDataJournalDetail";
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @*<a asp-controller="DataJournals" asp-action="CreateJournalHeaders">Tambah Jurnal Transaksi</a>*@
    <a asp-page="/DataJournals/CreateJournalHeaders">Tambah Jurnal Transaksi </a>
</div>

<h1>Create</h1>

<h4>DataJournal</h4>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<hr />

</br>

<div class="row">
    <div class="col-md-12">

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <p>Silahkan pilih data transaksi Anda</p>
                <table style="width:100%">
                   
                    <tr style="width:100%">
                        <th style="width:50%">Akun</th>
                        <th>Debit</th>
                        <th>Kredit</th>
                        <th>Keterangan</th>
                        <th hidden>Id Header</th>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="DataJournalDetailsRequest.DataAccountId" name="IdAccount1" asp-items="@ViewBag.Account1" class="form-control">
                                <option>------------ Silahkan Pilih Akun ------------</option>
                            </select>
                        </td>
                        <td>
                            <input asp-for="DataJournalDetailsRequest.Debit" name="Debit1" style="text-align:right" value="0" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="DataJournalDetailsRequest.Kredit" name="Kredit1" style="text-align:right" value="0" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="DataJournalDetailsRequest.Keterangan" name="Keterangan1b" value="@ViewBag.Keterangan1" placeholder="Masukan inputan keterangan" class="form-control" />
                        </td>
                        <td>
                            <input type="hidden" value="@ViewBag.IDHeader1" asp-for="DataJournalDetailsRequest.DataJournalHeaderId" name="DatajournalHeaderId1a" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
            <div hidden class="form-group">
                <label class="control-label"></label>
                <input name="IdBukti1" value="@ViewBag.IDHeader1" class="form-control" />
            </div>
            <div hidden class="form-group">
                <label class="control-label"></label>
                <input name="UserInput1" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<hr />
<div class="hidden-print">
    <p></p>
    @*<a style="color:green;text-decoration:none;" href="javascript:window.print()">
            <span style="color:green;text-decoration:none;">
                <img height="12" src="https://ecs7.tokopedia.net/img/print.png" alt="Print" />&nbsp;Cetak
            </span>
            <span style="display:inline-block; width:25px ;"></span>
        </a>*@
    <input name="b_print" type="button" class="ipt" onClick="printdiv('div_print');" value=" Print ">
</div>

<br />
<div id="div_print">
    <div>
        <table style="width:100%">
            <tr>
                <th>No Bukti</th>
                <th>Tanggal Input</th>
                <th>Keterangan</th>
            </tr>
            <tr>
                <td>@ViewBag.NoBuktij11</td>
                <td>@string.Format("{0:d}", ViewBag.TglInputjournal)</td>
                <td>@ViewBag.Keterangan1</td>
            </tr>
        </table>
    </div>
    <br />
    @if (Model.DataJournalDetails != null)
    {
        <div>
            <p>Rincian Jurnal Transaksi</p>
            <table style="width:100%">

                @{int i = 1;
                    Decimal? debit11 = 0;
                    decimal? kredit22 = 0;

                }
                @if (Model == null) { }
                else
                {
                    <tr>
                        <th>No.</th>
                        <th>Kode Akun - Akun</th>
                        <th>Debit</th>
                        <th>Kredit</th>
                    </tr>
                    @foreach (var item in Model.DataJournalDetails)
                    {
                        <tr>
                            <td style="text-align:center">@i</td>
                            <td>@item.KodeNamaAkun</td>
                            <td>
                                @string.Format("{0:c0}", item.Debit1)
                            </td>
                            <td>
                                @string.Format("{0:c0}", item.Kredit1)
                            </td>
                        </tr>
                        debit11 = debit11 + item.Debit1;
                        kredit22 = kredit22 + item.Kredit1;
                        i++;
                    }
                    <tr>
                        <td></td>
                        <td>
                            @if (debit11 < kredit22)
                            {
                                <p style="color:red;text-align:center">Tidak Seimbang</p>
                            }
                            else if (debit11 > kredit22)
                            { <p style="color:red;text-align:center">Tidak Seimbang</p> }
                            else
                            { <p style="text-align:center">Seimbang</p>}

                        </td>
                        <td>   @string.Format("{0:c0}", debit11)</td>
                        <td>@string.Format("{0:c0}", kredit22)</td>
                    </tr>

                }


            </table>
        </div>
    }
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
