@page
@model AccountingRazor2021.Pages.DataJournalsDetail.CreateDataJournalsDetailModel
@{
    ViewData["Title"] = "CreateDataJournalDetail";
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-controller="JournalHeaders" asp-action="Create">Tambah Jurnal Transaksi</a>
</div>

<h1>Create</h1>

<h4>DataJournal</h4>



<hr />
<div>
    <table>
        <tr>
            <th>No Bukti</th>
            <th>Tanggal Input</th>
            <th>Keterangan</th>
        </tr>
        <tr>
            <td>@ViewBag.NoBuktij11</td>
            <td>@ViewBag.TglInputjournal</td>
            <td>@ViewBag.Keterangan1</td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <table>
                    <caption>Silahkan pilih data transaksi Anda</caption>
                    <tr>
                        <th>Akun</th>
                        <th>Debit</th>
                        <th>Kredit</th>
                        <th>Keterangan</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="IdAccount1" asp-items="ViewBag.Account1" class="form-control">
                                <option>------------ Silahkan Pilih Akun ------------</option>
                            </select>
                        </td>
                        <td>
                            <input name="Debit1" style="text-align:right" value="0" class="form-control" />
                        </td>
                        <td>
                            <input name="Kredit1" style="text-align:right" value="0" class="form-control" />
                        </td>
                        <td>
                            <input name="Keterangan1" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
            <div hidden class="form-group">
                <label class="control-label"></label>
                <input name="IdBukti1" value="@ViewBag.IDHeader1" class="form-control" />
            </div>
            <div hidden class="form-group">
                <label class="control-label"></label>
                <input name="UserInput1" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<hr />
<hr />
<div>
    <table>
        <caption style="text-align:center">Rincian Jurnal Transaksi</caption>
        @{int i = 1;
            Decimal? debit11 = 0;
            decimal? kredit22 = 0;

        }
        @if (Model == null) { }
        else
        {
            <tr>
                <th>No.</th>
                <th>Kode Akun - Akun</th>
                <th>Debit</th>
                <th>Kredit</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.KodeNamaAkun</td>
                    <td>
                        @string.Format("{0:c}", item.Debit1)
                    </td>
                    <td>
                        @string.Format("{0:c}", item.Kredit1)
                    </td>
                </tr>
                debit11 = debit11 + item.Debit1;
                kredit22 = kredit22 + item.Kredit1;
                i++;
            }
            <tr>
                <td></td>
                <td>
                    @if (debit11 < kredit22)
                    {
                        <p style="color:red;text-align:center">Tidak Seimbang</p>
                    }
                    else if (debit11 > kredit22)
                    { <p style="color:red;text-align:center">Tidak Seimbang</p> }
                    else
                    { <p style="text-align:center">Seimbang</p>}

                </td>
                <td>   @string.Format("{0:c}", debit11)</td>
                <td>@string.Format("{0:c}", kredit22)</td>
            </tr>

        }


    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
