@page
@model AccountingRazor2021.Pages.Neraca.LaporanNeraca2Model
@{
    ViewData["Title"] = "LaporanNeraca2";
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

<h2>Isian Periode Laporan Neraca</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<form method="post">
    <table style="border:double">
        <tr style="border:double">Masukkan Periode Waktu</tr>
        <tr style="border:double">
            <th style="border:double">Periode Awal:</th>
            <td style="border:double">

                @*<input value="@DateTime.Now.Date" asp-for="Tanggal1" type="datetime-local" />*@
                <input value="1/10/2021" asp-for="Tanggal1" type="datetime" />
            </td>
        </tr>
        <tr style="border:double">
            <th style="border:double">Periode Akhir:</th>
            <td style="border:double">

                @*<input value="@DateTime.Now.Date" asp-for="Tanggal2" type="datetime-local" />*@
                <input value="31/12/2021" asp-for="Tanggal2" type="datetime" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td style="border:double">
                <div class="form-group">
                    <input  type="submit" value="Tampilkan" class="btn-info" />
                </div>
            </td>
        </tr>
    </table>
</form>

@if (Model.Item.Count != 0)
{

    <div>
        <h1 style="text-align:center">Laporan Neraca</h1>
        @if(ViewBag.PeriodeAwalA == new DateTime() && ViewBag.PeriodeAkhirA == new DateTime())
        { 
        <h2 style="text-align:center">Periode @string.Format("{0:d}", ViewBag.PeriodeAwalA) s/d  @string.Format("{0:d}", ViewBag.PeriodeAkhirA)</h2>
        }

    </div>
    <div>
        <table >
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Akun</th>
                    <th>Debit</th>
                    <th>kredit</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                @{Decimal? i = 0;
                    Decimal? i2 = 0;
                    Decimal? i3 = 0;
                    Decimal? Modal1 = 0;
                    Decimal? Pasiva1 = 0;
                    Decimal? Aktiva1 = 0;
                }

                @foreach (var item1 in Model.Item.GroupBy(x => x.KodeAkunInduk))
                {

                    <tr class="group-header">
                        <td colspan="6">
                            <span class="h4">@item1.Key</span>
                        </td>
                    </tr>
                    foreach (var item2 in item1.GroupBy(x => x.KodeAccountParent))
                    {

                        <tr class="group-header">
                            <td colspan="6" style="padding-left:23px;font-weight:bold">
                                <span>@item2.Key</span>
                            </td>
                        </tr>
                        foreach (var item3 in item2.GroupBy(x => x.NamaAkun))
                        {

                            @*<tr class="group-header">
                                <td colspan="6" style="padding-left:46px;font-weight:bold">
                                    <span>@item3.Key</span>
                                </td>

                            </tr>*@
                            foreach (var item in item3)
                            {

                                //if (item.Saldo1 != 0) {
                                <tr >
                                    <td></td>
                                    <td style="padding-left:69px">@Html.DisplayFor(modelItem => item.NamaAkun)</td>

                                    <td style="text-align:right">

                                        @string.Format("{0:c0}", item.Debit1)
                                    </td>
                                    <td style="text-align:right">

                                        @string.Format("{0:c0}", item.Kredit1)
                                    </td>
                                    <td style="text-align:right">

                                        @string.Format("{0:c0}", item.Saldo1)
                                    </td>
                                </tr>
                                i = i + item.Saldo1;
                                if (item1.Key == "1 - AKTIVA") { i3 = i; };
                                i2 = i2 + (item.Saldo1 * item.normalPosInduk * -1);
                                //}

                            }



                        }


                    }

            <tr class="group-footer">

                <td colspan="4" style="padding-left:100px;font-weight:bold">
                    <span>@item1.Key</span>

                </td>

                @if (item1.Key == "1 - AKTIVA")
                {
                    Aktiva1 = i;
                }
                else@if (item1.Key == "2 - PASIVA / KEWAJIBAN")
                {
                    Pasiva1 = i;
                }
                else@if (item1.Key == "3 - MODAL / EKUITAS")
                {
                    Modal1 = i;
                }

            @if (item1.Key == "1 - AKTIVA")
            {
                <td style="padding-left:100px;font-weight:bold"> @String.Format("{0:c0}", i)</td>
            }
            else
            {
                <td style="text-align: right; font-weight: bold"> @String.Format("{0:c0}", i) </td>
            }

            </tr>

                    i = 0;
                 }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="padding-left:100px;font-weight:bold">
                        <span>Selisih Laba / Rugi Berjalan </span>
                    </td>
                    <td style="text-align:right;padding-left:100px;font-weight:bold">
                        <span>@string.Format("{0:c0}", Aktiva1 - Pasiva1 - Modal1)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4" style="padding-left:100px;font-weight:bold">
                        <span>Total Kewajiban Dan Modal</span>
                    </td>
                    <td style="padding-left:100px;font-weight:bold">
                        @*<span>@string.Format("{0:c0}", i2 + i3)</span>*@
                        <span>@string.Format("{0:c0}", Pasiva1 + Modal1 + (Aktiva1 - Pasiva1 - Modal1))</span>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
    <div>
        <table class="table table-bordered table-striped grid">
            <tr>
                <td colspan="3">Dibuat Oleh</td>
                <td colspan="3">Disetujui Oleh</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

}