@page
@model AccountingRazor2021.Pages.LabaRugi.LaporanLabaRugiModel
@{
    ViewData["Title"] = "LaporanLabaRugi";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>


<h2>Isian Periode Laporan Laba Rugi</h2>
<div>

    <form method="post">
        <table style="border:double">
            <tr style="border:double">Masukkan Periode Waktu</tr>
            <tr style="border:double">
                <th style="border:double">Periode Awal:</th>
                <td style="border:double">

                    <input value="@DateTime.Now.Date" asp-for="Tanggal1" type="datetime-local" />
                </td>
            </tr>
            <tr style="border:double">
                <th style="border:double">Periode Akhir:</th>
                <td style="border:double">

                    <input value="@DateTime.Now.Date" asp-for="Tanggal2" type="datetime-local" />
                </td>
            </tr>
            <tr>
                <th></th>
                <td style="border:double">
                    <div class="form-group">
                        <input type="submit" value="Tampilkan" class="btn-info" />
                    </div>
                </td>
            </tr>
        </table>
    </form>



</div>


<h2>LaporanLabaRugi</h2>

@if (Model.Item.Count != 0)
{


    <div>
        <h1 style="text-align:center">Laporan Laba/Rugi</h1>
        @if (ViewBag.Tgl1 == new DateTime() && ViewBag.Tgl2 == new DateTime())
        {
            <h2 style="text-align:center">Periode @string.Format("{0:d}", ViewBag.Tgl1) s/d @string.Format("{0:d}", ViewBag.Tgl2)</h2>
        }
    </div>
    <div>
        <table >
            <thead>
                <tr>
                    <th>No.</th>
                    @*<th>@Html.DisplayNameFor(model => Model.KodeAccountParent)</th>
                        <th>@Html.DisplayNameFor(model => Model.AccountParent)</th>
                        <th>@Html.DisplayNameFor(model => Model.KodeAccount1)</th>
                        <th>@Html.DisplayNameFor(model => Model.Account1a)</th>
                        <th>@Html.DisplayNameFor(model => Model.Debit1)</th>
                        <th>@Html.DisplayNameFor(model => Model.Kredit1)</th>
                        <th>@Html.DisplayNameFor(model => Model.Saldo1)</th>*@
                    <th>Nama Akun</th>
                    @*<th>KodeAccountParent</th>
                        <th>AccountParent</th>
                        <th>KodeAccount1</th>
                        <th>Account1a</th>*@
                    <th>Debit</th>
                    <th>kredi</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                @{Decimal? i = 0;
                    //  Decimal? Profit = 0;
                    Decimal? i2 = 0;
                }

                @foreach (var item1 in Model.Item.GroupBy(x => x.KodeAkunInduk))
                {

                    <tr class="group-header">
                        <td colspan="6">
                            <span class="h4">@item1.Key</span>
                        </td>
                    </tr>
                    foreach (var item2 in item1.GroupBy(x => x.KodeAccountParent))
                    {

                        <tr class="group-header">
                            <td colspan="6" style="padding-left:23px;font-weight:bold">
                                <span>@item2.Key</span>
                            </td>
                        </tr>
                        foreach (var item3 in item2.GroupBy(x => x.NamaAkun))
                        {

                            @*<tr class="group-header">
                                    <td colspan="6" style="padding-left:23px;font-weight:bold">
                                        <span>@item3.Key</span>
                                    </td>
                                </tr>*@
                            foreach (var item in item3)
                            {

                                //if (item.Saldo1 != 0) {
                                <tr>
                                    <td></td>
                                    <td>@Html.DisplayFor(modelItem => item.NamaAkun)</td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.KodeAccountParent)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountParent)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KodeAccount1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Account1a)
                                        </td>*@
                                    <td style="text-align:right">
                                        @*@Html.DisplayFor(modelItem => item.Debit1)*@
                                        @string.Format("{0:c0}", item.Debit1)
                                    </td>
                                    <td style="text-align:right">
                                        @*@Html.DisplayFor(modelItem => item.Kredit1)*@
                                        @string.Format("{0:c0}", item.Kredit1)
                                    </td>
                                    <td style="text-align:right">
                                        @*@Html.DisplayFor(modelItem => item.Saldo1)*@
                                        @string.Format("{0:c0}", item.Saldo1)
                                    </td>
                                </tr>
                                i = i + item.Saldo1;
                                i2 = i2 + (item.Saldo1 * item.normalPosInduk * -1);
                                //}

                            }



                        }


                    }

                    <tr class="group-footer">
                        @*  <td colspan="4" style="padding-left:100px;font-weight:bold"> *@
                        <td colspan="4" style="padding-left:100px;font-weight:bold">
                            <span>@item1.Key</span>
                            @*<span class="label label-success">Total Unit: @item2.Count()</span>*@
                            @*<span class="col-md-3">Departments: @group.Select(x => x.Department).Distinct().ToList().Count()</span>*@
                            @*<span class="label label-primary">Avg Salary: @aa.Average(x => x.Salary).ToString("C")</span>*@
                        </td>

                        <td> @String.Format("{0:c0}", i)</td>

                    </tr>
                    //   Profit = Profit + i;
                    i = 0;
                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="padding-left:100px;font-weight:bold">
                        <span>Laba Rugi Berjalan</span>
                    </td>
                    <td style="padding-left:100px;font-weight:bold">
                        <span>@string.Format("{0:c0}", i2)</span>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
    <div>
        <table class="table table-bordered table-striped grid">
            <tr>
                <td colspan="3">Dibuat Oleh</td>
                <td colspan="3">Disetujui Oleh</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

}